<div th:fragment="contentFragmentdelete">
  <!-- Main modal -->
  <div class="grid grid-cols-3">
    <div class="col-span-1"></div>
    <div
      id="delete_contact"
      tabindex="-1"
      aria-hidden="true"
      class="hidden col-span-1 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="items-center justify-between p-1 md:p-2 border-b rounded-t dark:border-gray-600"
          >
            <div class="flex flex-col items-center p-2">
              <img
                class="rounded-full w-20 h-20"
                id="contact_image1"
                src=""
                alt=""
              />
              <div class="flex-col text-center">
                <h3
                  id="contact_name1"
                  class="text-xl px-2 font-semibold text-gray-900 dark:text-white"
                ></h3>
                <p>
                  <span id="contact_description1"></span>
                </p>
              </div>
            </div>
          </div>

          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <h1>hi</h1>
              <table
                class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
              >
                <tbody>
                  <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th
                      scope="row"
                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
                    >
                      Email
                    </th>
                    <td class="px-6 py-4" id="contact_email1"></td>
                  </tr>
                  <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th
                      scope="row"
                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
                    >
                      Phone Number :
                    </th>
                    <td class="px-6 py-4" id="contact_phone1"></td>
                  </tr>
                  <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th
                      scope="row"
                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
                    >
                      Address :
                    </th>
                    <td class="px-6 py-4" id="contact_address1"></td>
                  </tr>
                  <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th
                      scope="row"
                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
                    >
                      Website link :
                    </th>
                    <td class="px-6 py-4">
                      <a href="" id="contact_web1"
                        ><samp id="contact_web_text1"></samp
                      ></a>
                    </td>
                  </tr>
                  <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th
                      scope="row"
                      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
                    >
                      LinkedIn nink :
                    </th>
                    <td class="px-6 py-4">
                      <a href="" id="contact_link1">
                        <samp id="contact_link_text1"></samp>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Modal footer -->
          <div
            class="items-center text-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
          >
            <input type="hidden" id="id" value="" />
            <button
              data-modal-hide="delete_contact"
              th:onclick="deleteContact()"
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Delete
            </button>
            <button
              data-modal-hide="delete_contact"
              type="button"
              class="py-2.5 px-5 ms-3 text-sm font-medium text-white focus:outline-none rounded-lg border border-emerald-50 hover:bg-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-600 dark:focus:ring-gray-700 dark:bg-black dark:text-white dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
