<div th:fragment="sidebar1">
  <aside
    id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 pr-2"
    aria-label="Sidebar"
  >
    <div
      class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      <div class="pb-5">
        <img
          th:src="@{${loggedInUser.profilePic}}"
          class="rounded-full justify-center"
          alt="Profile Pic"
        />
      </div>
      <div class="grid grid-cols-3 space-x-3 space-x-reverse">
        <a
          th:href="@{/user/profile}"
          type="button"
          class="col-span-2 text-white bg-green-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-blue-800 md:flex md:w-auto items-center hover:scale-110"
        >
          <span th:text="${loggedInUser.name}"></span>
        </a>
        <button
          id="theme_change"
          class="col-span-1 text-white bg-blue-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:scale-110"
        >
          <i class="fa-solid fa-circle-half-stroke"> </i>
          <span> Light</span>
        </button>
      </div>

      <ul class="space-y-2 font-medium">
        <li>
          <a
            th:href="@{'/home'}"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            aria-current="page"
          >
            <i
              class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white fa-solid fa-house"
            ></i>
            <span class="ms-3"> Home</span>
          </a>
        </li>

        <li>
          <a
            th:href="@{'/about'}"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            aria-current="page"
          >
            <i
              class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white fa-solid fa-circle-info"
            ></i>
            <span class="ms-3"> About </span>
          </a>
        </li>
        <li>
          <a
            th:href="@{'/services'}"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            aria-current="page"
          >
            <i
              class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white fa-solid fa-universal-access"
            ></i>
            <span class="ms-3"> Services </span>
          </a>
        </li>
        <li>
          <a
            th:href="@{'/user/contacts'}"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            aria-current="page"
          >
            <i
              class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white fa-solid fa-user-group"
            ></i>
            <span class="ms-3"> Contacts </span>
          </a>
        </li>

        <li>
          <a
            th:href="@{'/user/dashbaord'}"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          >
            <svg
              class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 21"
            >
              <path
                d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
              />
              <path
                d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
              />
            </svg>
            <span class="ms-3">Dashboard</span>
          </a>
        </li>

        <li>
          <a
            th:href="@{'/user/contacts/add_contact'}"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          >
            <i
              class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white fa-solid fa-user-plus"
            ></i>
            <span class="flex-1 ms-3 whitespace-nowrap">Add Contact</span>
          </a>
        </li>
        <!-- <li>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          >
            <svg
              class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 18 20"
            >
              <path
                d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"
              />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Products</span>
          </a>
        </li> -->

        <li>
          <a
            th:href="@{'/logout'}"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            aria-current="page"
          >
            <i
              class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white fa-solid fa-right-from-bracket"
            ></i>
            <span class="flex-1 ms-3 whitespace-nowrap">Logout</span>
          </a>
        </li>
        <li>
          <div
            class="gap-2 flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
          >
            <!--open manu-->
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>
