<div th:fragment="parant">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam vero debitis
    expedita, repellat maxime iure vel ad voluptates odit aliquam dolorem
    voluptatem officiis exercitationem eaque magni dolores iste reprehenderit
    accusamus?
  </p>
</div>
<div th:fragment="son">
  <p style="color: brown">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam vero debitis
    expedita, repellat maxime iure vel ad voluptates odit aliquam dolorem
    voluptatem officiis exercitationem eaque magni dolores iste reprehenderit
    accusamus?
  </p>
</div>
