<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base::parent(~{::#content},~{::title},~{ })}"
  xmlns:th="http://www.thymeleaf.org"
>
  >
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <div id="content">
      <div
        class="sm:pt-24 pt-24 flex justify-center flex-col items-center pb-24"
      >
        <section
          class="bg-blue-600 rounded text-white py-20 animate__animated animate__fadeInDown p-9"
        >
          <div class="container mx-auto text-center">
            <h2 class="text-4xl font-bold mb-4">Welcome to Contact Manager</h2>
            <p class="text-lg mb-8">
              A contact manager in the cloud is a web-based tool designed to
              help you organize and manage your contacts from anywhere with an
              internet connection.
            </p>
            <a
              th:href="@{'/register'}"
              class="bg-white text-blue-600 px-6 py-3 rounded-full font-semibold hover:bg-gray-100 transition duration-300"
              >Get Started</a
            >
          </div>
        </section>

        <!-- Features Section -->
        <section class="py-20 bg-white dark:bg-gray-900 dark:text-gray-900">
          <div class="container mx-auto text-center">
            <h2
              class="text-3xl font-bold mb-12 animate__animated animate__fadeInUp"
            >
              Features
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
              <div
                class="p-6 bg-gray-100 rounded-full shadow hover:shadow-lg transition duration-300 transform hover:scale-105"
              >
                <i class="fa-solid fa-database text-blue-600 text-4xl mb-4"></i>
                <h3 class="text-xl font-semibold mb-2">
                  Centralized Contact Storage
                </h3>
                <p class="text-gray-600">
                  Store all your contact information—names, phone numbers, email
                  addresses, and more—in one accessible location.
                </p>
              </div>
              <div
                class="p-6 bg-gray-100 rounded-full shadow hover:shadow-lg transition duration-300 transform hover:scale-105"
              >
                <i class="fas fa-lock text-blue-600 text-4xl mb-4"></i>
                <h3 class="text-xl font-semibold mb-2">Data Security</h3>
                <p class="text-gray-600">
                  Benefit from cloud-based encryption and security measures to
                  protect your contact data from unauthorized access.
                </p>
              </div>
              <div
                class="p-6 bg-gray-100 rounded-full shadow hover:shadow-lg transition duration-300 transform hover:scale-105"
              >
                <i class="fa-brands fa-hubspot text-blue-600 text-4xl mb-4"></i>
                <h3 class="text-xl font-semibold mb-2">Sync Across Devices</h3>
                <p class="text-gray-600">
                  Automatically update and synchronize contact details across
                  all your devices, ensuring you always have the most current
                  information.
                </p>
              </div>
              <div
                class="p-6 bg-gray-100 rounded-full shadow hover:shadow-lg transition duration-300 transform hover:scale-105"
              >
                <i class="fas fa-globe text-blue-600 text-4xl mb-4"></i>
                <h3 class="text-xl font-semibold mb-2">Easy Access 24/7</h3>
                <p class="text-gray-600">
                  Access your contacts from any device with an internet
                  connection and share contact details with others seamlessly.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Call to Action Section -->
        <section class="bg-blue-600 text-white py-20 rounded-full">
          <div class="container mx-auto text-center">
            <h2 class="text-3xl font-bold mb-4">
              Ready to Manage Your Contacts?
            </h2>
            <p class="text-lg mb-8">
              Sign up today and experience the easiest way to manage your
              contacts.
            </p>
            <a
              th:href="@{'/register'}"
              class="bg-white text-blue-600 px-6 py-3 rounded-full font-semibold hover:bg-gray-100 transition duration-300"
              >Create an Account</a
            >
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
