<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/CSS/output.css'}" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="p-4 bg-gray-200 w-1/2 mx-auto mt-4 text-4xl">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti rem
        natus cum, facere illum in amet delectus consequatur cumque quasi minima
        voluptatem. Delectus, sequi. Adipisci repudiandae quisquam sed in
        aliquid.
      </p>
    </div>
    <div class="text-center p-4 w-1/2 mx-auto">
      <a
        href="#"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Noteworthy technology acquisitions 2021
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400 text-center">
          Here are the biggest enterprise technology acquisitions of 2021 so
          far, in reverse chronological order.
        </p>
      </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
  </body>
</html>
