<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{ })}">
  <head>
    <title>Register</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12 mt-4">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <div
            class="block p-6 border-t-[10px] border-blue-700 bg-gray-200 rounded-xl shadow hover:bg-gray-300 dark:bg-gray-800 dark:border dark:border-blue-700 dark:hover:bg-gray-700"
          >
            <div th:replace="(~{massage::meassagebox})"></div>
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Signup Here
            </h5>
            <p class="font-normal text-gray-400 dark:text-gray-400">
              Start managing contact on cloud ...
            </p>
            <form
              th:action="@{'/doRegister'}"
              method="post"
              class="mt-3"
              th:object="${userForm}"
              novalidate
            >
              <div class="mb-5">
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Enter Name</label
                >
                <input
                  type="text"
                  id="name"
                  th:field="*{name}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter here"
                  required
                />
              </div>
              <p
                th:if="${#fields.hasErrors('name')}"
                data-th-errors="*{name}"
                class="text-red-700 px-1 py-1"
              >
                Name is required
              </p>
              <div class="mb-3">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Enter Email</label
                >
                <input
                  type="email"
                  th:field="*{email}"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter here"
                  required
                />
                <p
                  th:if="${#fields.hasErrors('email')}"
                  data-th-errors="*{email}"
                  class="text-red-700 px-1 py-1"
                ></p>
              </div>
              <div class="mb-3">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Enter Password</label
                >
                <input
                  th:field="*{password}"
                  type="password"
                  id="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                />

                <p
                  th:if="${#fields.hasErrors('password')}"
                  data-th-errors="*{password}"
                  class="text-red-700 px-1 py-1"
                ></p>
              </div>
              <div class="mb-3">
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Enter Content No.</label
                >
                <input
                  type="number"
                  th:field="*{phoneNo}"
                  id="phone"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                  placeholder="0000000000"
                />
                <p
                  th:if="${#fields.hasErrors('phoneNo')}"
                  data-th-errors="*{phoneNo}"
                  class="text-red-700 px-1 py-1"
                ></p>
              </div>
              <div class="mb-3">
                <label
                  for="about"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Write something about yourself</label
                >
                <textarea
                  th:field="*{about}"
                  id="about"
                  rows="5"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Write here..."
                ></textarea>
                <p
                  th:if="${#fields.hasErrors('about')}"
                  data-th-errors="*{about}"
                  class="text-red-700 px-1 py-1"
                ></p>
                <div class="mb-2 flex justify-center space-x-3">
                  <button
                    type="submit"
                    class="mt-3 text-white bg-blue-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >
                    Signup
                  </button>
                  <button
                    type="reset"
                    class="mt-3 text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-red-500 dark:hover:bg-red-700 dark:focus:ring-blue-800"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
